/* 아이디 찾기 페이지 */
.find-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #303030;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .contents {
    margin-top: 50px;
    position: relative;
    width: 680px;
    border: 1px solid #cccccc;
    border-radius: 40px;

    /* 아이디, 비밀번호 찾기 탭 */
    & > .tab {
      display: flex;
      text-align: center;
      margin-top: 23px;

      & > div {
        width: 50%;
        border-bottom: 1px solid #cccccc;
        font-family: Pretendard;
        font-size: 24px;
        letter-spacing: -0.6px;
        padding-bottom: 20px;

        & > a {
          color: #929292;
        }

        &.active {
          & > a {
            color: #303030;
          }

          font-weight: bold;
          border-bottom: 3px solid #5918eb;
        }
      }
    }

    /* 회원정보 입력 폼 */
    & > .find-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 50px 0;

      /* 폼 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.23;
        letter-spacing: -0.55px;
      }

      & > .item-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 564px;

        & > .item {
          input {
            width: 564px;
          }
        }
      }
    }

    /* 결과 창 */
    & > .find-result-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 50px 0;

      /* 결과 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.23;
        letter-spacing: -0.55px;
        & > .name {
          font-size: 24px;
        }
      }

      /* 찾기 결과 박스 */
      & > .inner-box {
        border-radius: 30px;
        background-color: #f2f9ff;
        padding: 30px 86px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > div {
          width: 392px;
          display: flex;
          justify-content: space-between;

          & > span {
            font-family: Pretendard;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.5px;
            text-align: left;

            &.email,
            &.date {
              color: #5918eb;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  /* 로그인 | 회원가입 */
  & > .other-button-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 100px;

    & > span {
      font-family: Pretendard;
      font-size: 14px;
      letter-spacing: -0.45px;
      text-align: center;
      color: #606060;

      & > a {
        color: #606060;
      }
    }
  }
}

/* 비밀번호 찾기 페이지 */
.find-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #303030;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .contents {
    margin-top: 50px;
    position: relative;
    width: 680px;
    border: 1px solid #cccccc;
    border-radius: 40px;

    /* 아이디, 비밀번호 찾기 탭 */
    & > .tab {
      display: flex;
      text-align: center;
      margin-top: 23px;

      & > div {
        width: 50%;
        border-bottom: 1px solid #cccccc;
        font-family: Pretendard;
        font-size: 24px;
        letter-spacing: -0.6px;
        padding-bottom: 20px;

        & > a {
          color: #929292;
        }

        &.active {
          & > a {
            color: #303030;
          }

          font-weight: bold;
          border-bottom: 3px solid #5918eb;
        }
      }
    }

    /* 회원정보 입력 폼 */
    & > .find-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 50px 0;

      /* 폼 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.23;
        letter-spacing: -0.55px;
      }

      & > .item-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 564px;

        & > .item {
          input {
            width: 564px;

            /* 휴대폰 번호, 인증번호의 경우 예외처리 */
            &.contact,
            &.authcode {
              width: 374px;
            }
          }

          & > .flex-box {
            display: flex;
            justify-content: space-between;

            & > .input-wrap {
              width: 374px;
            }
          }
        }
      }
    }

    /* 결과 창 */
    & > .find-result-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 50px 0;

      /* 결과 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.23;
        letter-spacing: -0.55px;
      }

      /* 찾기 결과 박스 */
      & > .inner-box {
        border-radius: 30px;
        background-color: #f2f9ff;
        padding: 30px 86px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > div {
          width: 392px;
          display: flex;
          justify-content: space-between;

          & > span {
            font-family: Pretendard;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.5px;
            text-align: left;

            &.email,
            &.date {
              color: #5918eb;
              font-weight: bold;
            }
          }
        }
      }

      /* 비밀번호 재설정 폼 */
      & > .password-reset-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
          width: 564px;
        }
      }
    }
  }

  /* 로그인 | 회원가입 */
  & > .other-button-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 100px;

    & > span {
      font-family: Pretendard;
      font-size: 14px;
      letter-spacing: -0.45px;
      text-align: center;
      color: #606060;

      & > a {
        color: #606060;
      }
    }
  }
}
