footer.footer_wrap {
  background-color: #f6f6f6;
  padding: 76px 0;
  display: flex;
  justify-content: center;

  & > .pc {
    display: flex;
    justify-content: space-between;
    width: 1000px;

    /* 왼쪽 */
    & > .footer_main {
      /* 회사명 */
      & > .footer_text_sub {
        font-family: Pretendard;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.47;
        letter-spacing: -0.68px;
      }
      /* 주소 */
      & > .footer_address {
        margin-top: 14px;
        font-family: Pretendard;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.56px;
        color: #313333;
        & > .address_initem {
          margin-right: 15px;
          /* 링크 */
          & > .link_address {
            color: #3883ba;
          }
          /* 이메일 */
          &.type2 {
            text-decoration: underline;
          }
        }
      }
      /* copoyright */
      & > .footer_copyright {
        margin-top: 21px;
        font-family: Pretendard;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.56px;
        color: #6c6c74;
      }
    }

    /* 오른쪽 */
    & > .footer_sub {
      & > .footer_customer_item {
        /* 고객센터 라벨 */
        & > .footer_customer_label {
          font-family: Pretendard;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: -0.64px;
          color: #313333;
        }
        /* 고객센터 연락처 */
        & > .footer_customer_main {
          font-family: Pretendard;
          font-size: 36px;
          font-weight: bold;
          line-height: 1.42;
          letter-spacing: -1.44px;
          color: #fc861d;
        }
        /* 고객센터 업무시간 */
        & > .footer_customer_sub {
          font-family: Pretendard;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: -0.56px;
          color: #808088;
        }
      }
    }
  }
}
