/* 로그인 페이지 */
.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .contents {
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;

    /* 캐릭터 */
    & > .character {
      position: absolute;

      &.left {
        width: 180px;
        height: 180px;
        top: 0px;
        left: -200px;
      }
      &.right {
        width: 190px;
        height: 190px;
        top: -50px;
        right: -200px;
      }
    }

    /* 로그인 폼 */
    & > .login-form {
      width: 426px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & > .item {
        width: 100%;
        input {
          width: 100%;
          height: 56px;
        }

        &.checkbox {
          display: flex;

          /* 아이디 저장 */
          label {
            font-size: 15px;
            color: #606060;
            line-height: 22px;
          }
        }
      }
    }

    /* 아이디 / 비밀번호 찾기 | 회원가입 */
    & > .other-button-section {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 12px;

      & > span {
        font-family: Pretendard;
        font-size: 14px;
        letter-spacing: -0.38px;
        text-align: center;
        & > a {
          color: #606060;
        }
      }
    }
  }
}
