/* 간편가입 약관동의 */
.signup-01 {
  color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    margin-top: 50px;
    & > img {
      width: 456px;
      height: 98px;
    }
  }

  & > .intro {
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;

    & > .text {
      width: 300px;
      height: 120px;
      font-family: Pretendard;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.5px;
      text-align: center;

      & > .title {
        font-size: 35px;
        font-weight: bold;
        letter-spacing: -0.88px;
        margin-bottom: 14px;
        display: inline-block;
      }
    }
    /* 캐릭터 이미지 */
    & > .image {
      position: absolute;
      width: 140px;
      height: 120px;
      top: 0;
      right: 0;
      transform: translateX(100%);
    }
  }

  & > .contents {
    width: 680px;
    height: 573px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .title {
      margin-top: 50px;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.55px;
    }

    /* 내부 박스 */
    & > .inner-box {
      margin-top: 40px;
      width: 560px;
      text-align: left;

      /* 동의 항목 */
      & > article {
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        & > label {
          font-size: 18px;
          line-height: 27px;
          font-weight: bold;

          &.all {
            font-size: 20px;
          }

          & > span {
            color: #521de2;
          }
        }
        & > .icon_more {
          position: absolute;
          right: 0;
          cursor: pointer;
        }

        /* 항목 설명 */
        & > .description {
          width: 530px;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.4px;
          margin-left: 30px;
          margin-top: 16px;
        }

        & > .line {
          border-bottom: 2px solid #eaeaea;
          margin-top: 30px;
        }
      }
    }

    /* 다음 버튼 */
    & > .next {
      margin-top: 10px;
    }
  }
}

/* 간편가입 정보입력 */
.signup-02 {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    margin-top: 50px;
    & > img {
      width: 456px;
      height: 98px;
    }
  }

  & > .contents {
    width: 820px;
    // height: 612px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    /* 등록 폼 */
    & > form {
      padding: 50px 58px;

      /* 폼 타이틀 */
      & > .title {
        font-size: 18px;
        line-height: 18px;
        display: flex;
        margin-bottom: 24px;

        & > span {
          margin-left: 6px;
        }
      }

      /* 입력 항목 */
      article {
        margin-bottom: 20px;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          & > input.child-name {
            font-weight: bold;
            background-color: #f6f6f6;
          }

          label {
            font-size: 16px;
            line-height: 27px;
            color: #606060;
          }

          .item {
            width: 564px;
            height: 46px;
            display: flex;
            gap: 6px;
          }
        }
      }

      /* 버튼 섹션 */
      & > .button-section {
        display: flex;
        justify-content: center;
        gap: 12px;

        & > .btn {
          margin-top: 10px;
        }
      }
    }
  }
}

/* 간편가입 가입완료 */
.signup-03 {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    margin-top: 50px;
    & > img {
      width: 456px;
      height: 98px;
    }
  }

  & > .intro {
    margin-top: 55px;
    & > .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > .primary {
        font-size: 35px;
        font-weight: bold;
      }
      & > .secondary {
        font-size: 22px;
        margin-top: 8px;
      }
    }
    & > .image {
      margin-top: 16px;
      width: 273px;
      height: 210px;
    }
  }

  & > .contents {
    width: 564px;
    padding: 40px 0;
    background-color: #f2f9ff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div {
      padding: 0 86px;
      display: flex;
      justify-content: space-between;

      & > span {
        font-size: 20px;

        &.email,
        &.child-name {
          font-weight: bold;
          color: #5918eb;
        }
      }
    }
  }

  /* 버튼 섹션 */
  & > .button-section {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

/* 일반가입 약관동의 */
.signup-11 {
  color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    margin-top: 50px;
    & > img {
      width: 456px;
      height: 98px;
    }
  }

  & > .contents {
    width: 680px;
    height: 573px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .title {
      margin-top: 50px;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.55px;
    }

    /* 내부 박스 */
    & > .inner-box {
      margin-top: 40px;
      width: 560px;
      text-align: left;

      /* 동의 항목 */
      & > article {
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        & > label {
          font-size: 18px;
          line-height: 27px;
          font-weight: bold;

          &.all {
            font-size: 20px;
          }

          & > span {
            color: #521de2;
          }
        }
        & > .icon_more {
          position: absolute;
          right: 0;
          cursor: pointer;
        }

        /* 항목 설명 */
        & > .description {
          width: 530px;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.4px;
          margin-left: 30px;
          margin-top: 16px;
        }

        & > .line {
          border-bottom: 2px solid #eaeaea;
          margin-top: 30px;
        }
      }
    }

    /* 다음 버튼 */
    & > .next {
      margin-top: 10px;
    }
  }
}

/* 일반가입 정보입력 */
.signup-12 {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    margin-top: 50px;
    & > img {
      width: 456px;
      height: 98px;
    }
  }

  & > .contents {
    width: 820px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    /* 등록 폼 */
    & > form {
      padding: 50px 58px;

      /* 입력 항목 */
      article {
        margin-bottom: 20px;

        div {
          display: flex;
          justify-content: space-between;

          & > input.child-name {
            font-weight: bold;
            background-color: #f6f6f6;
          }

          label {
            font-size: 16px;
            line-height: 46px;
            color: #606060;
          }

          .item {
            width: 564px;
            height: 46px;
            display: flex;
            gap: 6px;

            &.disabled {
              display: none;
            }
          }

          /* 휴대폰번호 래퍼, 주소 래퍼 */
          .contact-wrap,
          .address-wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;

            /* 휴대폰 번호 인풋, 우편번호 인풋 */
            input.contact,
            input.address {
              width: 374px;
            }
          }
        }
      }

      /* 버튼 섹션 */
      & > .button-section {
        display: flex;
        justify-content: center;
        gap: 12px;
      }
    }
  }
}
